header {
  background-color: rgb(1, 35, 58);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 3%;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  nav {
    position: fixed;
    background-color: rgba(1, 35, 58, 0.5);
    padding: 5%;
    transform: translateX(+1000%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    right: 0;
    top: 0;

    svg {
      float: right;
      border: solid 1px black;
      border-radius: 50%;
      padding: 3%;
      background-color: black;
    }
    
    ul {
      list-style: none;
      margin-top: 5vh;

      li {
        margin-top: 5%;
      }
    }
  }

  .active {
    transform: translateX(0);
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}